.btn{
    font-weight:600;
    text-transform: uppercase;
    border-radius:56px;
    padding:10px 20px;
}

.btn-primary{
    background-color: $orange;
    color:white;
    border-color:$orange;
}

.btn-light{
    background-color:transparent;
    color:white;
    border-color:white;
}